BasedOnStyle: google
AlignConsecutiveAssignments: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AlignOperands: true
ColumnLimit: 80
